/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    background-size: contain;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
}

.device{
    background-color: #000;
    height: 670px;
    width: 335px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 3px #00000014;
    border:  4px solid #000000;
    border-top: 20px solid #000;
    position: relative;
}

.camera{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 9px;
    border: 2px solid #000;
    background: radial-gradient(#292e3f,#0e0f20 );
}

.screen{
    background-color: #ffffff;
    height: 600px;
    border-radius: 10px;
    overflow-y: auto;

    padding: 20px;
}

.phone-actions{
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phone-actions img{
    height: 13px;
    opacity: .6;
}

/* YOUR CODE HERE */

.messages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;

}

.message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.messages img{
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.bar{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.profil{
    width: 60px;
    height: 60px;
    margin: 10px;
}

.profil img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

p{
    font-size: 12px;
    color: #0f0f0f6b;
    margin: 7px 0;
}

.rose{
    color: #f8072f;
    font-weight: bold;
}

.plus{
    width: 75px;
    height: 70px;
    position: absolute;
    bottom: 50px;
    right: 5px;
}

.plus img{
    width: 100%;
    height: 100%;
}