{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div style="height: 50%; width: 100%; background-color: #69bde7;"></div>
    <div class="bloc" style="padding: 10px;">
        <h2 style="padding: 10px;">Martin</h2>
        <div style="border: 1px solid #05050518; box-shadow: 0px 2px 2px #0000009a; padding: 5px;">
            <p>0700000000 <br>Téléphone portable</p>
        </div>
    </div>
<!-- <a href="{% url 'contact' %}">contact ..</a> -->
{% endblock content %}
    