{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div style="display: flex; align-items: center; justify-content: center; height: 50%; width: 100%; background-color: #69bde7;">
        <img src="{% static 'images/photo.png' %}" alt="" style="width: 70%;">
    </div>
    <div class="bloc" style="padding: 10px;">
        <h2 style="padding: 10px;">Tano Martin</h2>
        <div style="display: flex; align-items: center;  margin: 0 0 10px 0; border: 1px solid #05050518; box-shadow: 0px 1px 1px #0000009a; padding: 5px;">
            <img src="{% static 'images/phone.png' %}" alt="phone" style="height: 35px; width: 35px; margin-right: 10px;">
            <p><strong>0700000000</strong> <br>Téléphone portable</p>
        </div>

        <div style="display: flex; align-items: center;  margin: 0 0 10px 0; border: 1px solid #05050518; box-shadow: 0px 1px 1px #0000009a; padding: 5px;">
            <img src="{% static 'images/mail.png' %}" alt="phone" style="height: 35px; width: 35px; margin-right: 10px;">
            <p><strong>tano-martin@yahoo.com</strong> <br>Adresse électronique</p>
        </div>

        <a href="{% url 'update-contact' %}" style="position: absolute; bottom: 30px; display: flex; align-items: center; border: 1px solid #05050518; box-shadow: 0px 1px 1px #0000009a; padding: 5px; color: #456c80;">Modifier</a>
        <a href="{% url 'contact' %}" style="position: absolute; bottom: 30px; right: 10px; display: flex; align-items: center; border: 1px solid #05050518; box-shadow: 0px 1px 1px #0000009a; padding: 5px; color: #456c80;">Supprimer</a>

    </div>

    <div style="padding: 1px 0; display: flex; justify-content: space-around; position: absolute; bottom: 23px; background-color:white; height: 30px; width: 100%;">
        <a href="{% url 'contact' %}" style="display: flex; align-items: center;">
            <img src="{% static 'images/back.png' %}" alt="back" style="height: 70%;">
        </a>
        <a href="{% url 'contact' %}" style="display: flex; align-items: center;">
            <img src="{% static 'images/home.jpg' %}" alt="back" style="height: 70%;">
        </a>
    </div>
{% endblock content %}
    