{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <style>
        #contact{
            display: flex;
            align-items: center;
        }
        #contact:hover a.delete{
            display: block;
        }
        .delete{
            display: none;
            text-decoration: none;
            position: absolute;
            right: 10px;
        }
    </style>

    <div style="text-align: left;" class="container">Vue personnalisée</div>
    <div>
        <a href="{% url 'add-contact' user.username %}"><img src="{% static 'images/plus.png' %}" alt="plus" style="width: 50px; height: 50px; position: absolute; bottom: 55px; right: 10px;"></a>  
        
        {% if user.contact_user.all %}

            {% for contact in user.contact_user.all %}
                <div id="contact">
                    <a href="{% url 'contact-detail' contact.id %}" style="display: flex; align-items: center;width: 75%; text-decoration: none; padding: 7px; margin: 0 30px;">
                        <div style="display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; border: 1px solid #002fffd0; border-radius: 100%;">{{ contact.nom|first }}</div>
                        <div style=" width: 80%; padding: 15px 0 0 10px;"> <p>{{ contact.nom }}</p></div>
                    </a> 
                    <a href="{% url 'delete' contact.id %}" class="delete">
                        <img src="{% static 'images/delete-forever.png' %}" alt="phone" style="height: 25px; width: 25px;">
                    </a>
                </div>
            {% endfor %}
            
        {% else %}
            <div style="display: flex; align-items: center; justify-content: center; height: 485px; width: 100%;">
                <h3>Liste de contacts vide</h3>
            </div>
        {% endif %}
            

    </div>


{% endblock content %}