{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <form action="#" method="POST" style="width: 100%; height: 100%;">
        {% csrf_token %}
        <div class="block">
            <h1>Se connecter</h1>
            <div class="inputs">
                <input type="text" name="name" placeholder="Nom d'utilisateur">
                <input type="password" name="password" placeholder="Mot de passe">
            </div>
            <p class="inscription">Je n'ai pas un compte ?<span><a href="{% url 'inscription' %}"> S'inscire </a></span></p>
            <p class="inscription"><a href="#">Mot de passe oublier ?</a></p>
            <div align="center">
                <button type="submit">Se connecter</button>
            </div>
        </div>
    </form>


{% endblock content %}
    