{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="block">
            <h1>Inscription</h1>

            <div class="inputs">
                <div class="champs-photo">
                    <label style=" font-size: 1rem;" for="photo">Photo</label><br>
                    {{ form_info.photo }}
                </div>

                <label for="nom">Nom</label>
                {{ form_user.username }}

                <label for="prenom">Prénom</label>
                {{ form_info.prenom }}

                <label for="email">Adresse électronique</label>
                {{ form_user.email }}
                
                <label for="telephone">Numéro de téléphone</label>
                {{ form_info.telephone }}
           
                <label for="password1">Mot de passe</label>
                {{ form_user.password1 }}

                <label for="password2">Mot de passe a nouveau</label>
                {{ form_user.password2 }}
                               
            </div>

            <div align="center" class="bouton">
                <a href="{% url 'index' %}">
                    <button type="button" class="btn-nul">Annuler</button>
                </a>
                <button type="submit" class="btn-ins">S'inscrire</button>
            </div>
        </div>
        <div>{{ form_user.errors }}</div>
        <div>{{ form_info.errors }}</div>
    </form>

{% endblock content %}