{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h2>Profil utilisateur</h2>
    <div class="photo-cercle">
        <img id="output" src="{{ user.compte.photo.url }}" alt="photo" class="photo-cer">
    </div>
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="block">
            <div class="inputs" >
                <label for="photo">Photo</label>
                <div class="champs-photo">
                    <input type="file" name="photo" id="photo" onchange="loadFile(event)">
                </div>

                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" value="{{ user.username }}">

                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" id="prenom" value="{{ user.compte.prenom }}">

                <label for="email">Adresse électronique</label>
                <input type="email" name="email" value="{{ user.email }}">
                
                <label for="telephone">Numéro de téléphone</label>
                <input type="tel" name="telephone" value="{{ user.compte.telephone }}">
            </div>
            
           
            <div align="center" class="bouton">
                <a href="{% url 'logout' %}"><button type="button" class="btn-nul">Déconnecter</button></a>
                <button type="submit" class="btn-ins">Modifier</button>
            </div>
        </div>
    </form>

    <div style="padding: 1px 0; display: flex; justify-content: space-around; position: absolute; bottom: 35px; background-color:white; height: 30px; width: 100%;">
        <a href="{% url 'contact' user.username %}" style="display: flex; align-items: center;">
            <img src="{% static 'images/home.jpg' %}" alt="back" style="height: 70%;">
        </a>
    </div>
    
    <script>
        var loadFile = function(event) {
          var output = document.getElementById('output');
          output.src = URL.createObjectURL(event.target.files[0]);
          output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
          }
        };
    </script>
{% endblock content %}