{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h2 style="text-align: center; padding: 10px;">Modifier le contact</h2>
    <div class="photo-cercle">
        <img id="output" src="{{ contact.photo.url }}" alt="photo" class="photo-cer">
    </div>
    <form action="#" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="block">
            <div class="inputs" >
                <label for="photo">Photo</label>
                <div class="champs-photo">
                    <input type="file" name="photo" id="photo" onchange="loadFile(event)" value="{{ contact.photo.url }}">
                </div>
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" value="{{ contact.nom }}">

                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" id="prenom" {% if not contact.prenom is None %} value="{{ contact.prenom }}" {% endif %}>

                <label for="email">Adresse électronique</label>
                <input type="email" name="email" {% if not contact.email is None %} value="{{ contact.email }}" {% endif %}>
                
                <label for="telephone">Numéro de téléphone</label>
                <input type="tel" name="telephone" value="{{ contact.telephone }}">
            </div>
            <div align="center" class="bouton">
                <a href="{% url 'contact-detail' contact.id %}"><button type="button" class="btn-nul">Annuler</button></a>
                <button type="submit" class="btn-ins">Sauvegarder</button>
            </div>
        </div>
    </form>

    <script>
        var loadFile = function(event) {
          var output = document.getElementById('output');
          output.src = URL.createObjectURL(event.target.files[0]);
          output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
          }
        };
    </script>
{% endblock content %}