{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <h3 style="text-align: center; padding: 10px;">Modifier le contact</h3>
    <div  style="border: 1px solid #3f3f3f78; height: 200px; width: 100%; display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
        <img src="{% static 'images/photo.png' %}" alt="" style="width: 50%; height: 80%;">
    </div>
    <form action="#" method="POST">
        <div class="block">
            <div class="inputs" >
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom">

                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" id="prenom">

                <label for="email">Adresse électronique</label>
                <input type="email" name="email">
                
                <label for="telephone">Numéro de téléphone</label>
                <input type="tel" name="telephone">
            </div>
            <div align="center" style="display: flex;">
                <a href="{% url 'contact' %}"><button type="button" style="margin: 0 5px; background-color: #c0bcbc;">Annuler</button></a>
                <button type="submit" style="margin: 0 5px;">Sauvegarder</button>
            </div>
        </div>
    </form>

    <div style="padding: 1px 0; display: flex; justify-content: space-around; position: absolute; bottom: 23px; background-color:white; height: 30px; width: 100%;">
        <a href="#" style="display: flex; align-items: center;">
            <img src="{% static 'images/back.png' %}" alt="back" style="height: 70%;">
        </a>
        <a href="#" style="display: flex; align-items: center;">
            <img src="{% static 'images/home.jpg' %}" alt="back" style="height: 70%;">
        </a>
    </div>
{% endblock content %}